{% include "partials/master-top.njk" %}

  <main class="main-container container">
    <div class="row">

      {% include "partials/header.njk" %}

      <div class="content col-sm-8">
        {% block content %}
          <h2>What is Gulpazan?</h2>
          <p>Gulpazan is a Gulp starter template to build a fast and easy workflows. It comes with jQuery, Nunjucks, Bootstrap and Sass to make it super easy for you to create a better workflow.</p>
          <h4>What's included?</h4>
          <p>What prominent npm packages Gulpazan comes with when you install it?</p>
          <ul>
            <li>Gulp: The toolkit for automating painful or time-consuming tasks in your development workflow, so you can stop messing around and build something.</li>
            <li>jQuery: It is a fast, small, and feature-rich JavaScript library.</li>
            <li>Bootstrap: The most popular HTML, CSS, and JS framework for developing responsive, mobile first projects on the web.</li>
            <li>Nunjucks: One of the most powerful templating languages for JavaScript.</li>
            <li>Ionicons: The premium icon font for Ionic Framework.</li>
          </ul>

          <h4>How to Install Gulpazan?</h4>

          <p>Clone the repository by typing <code>git clone https://github.com/babilkuyusu/Gulpazan.git</code> command in your terminal window or <a href="https://github.com/babilkuyusu/Gulpazan/archive/master.zip" class="download-btn">click here</a> to download Gulpazan in to your local computer.

          <p>Open your terminal window and type <code>npm install</code> command to install all the dependencies that Gulpazan needs.</p>

          <p>After the installation is finished type <code>gulp start</code> command and hit the enter to power up the project.</p>

          <p class="motto">Easy, isn't it?</p>

        {% endblock %}
      </div>

      <aside class="sidebar col-sm-4">
        {% block sidebar %}
          <h2>Sidebar</h2>
        {% endblock %}
      </aside>

      {% include "partials/footer.njk" %}

    </div><!-- .row -->
  </main><!-- .main-container -->

{% include "partials/master-bottom.njk" %}
