
<!--build:js assets/js/main.min.js -->
  <script src="assets/js/jquery.js"></script>
  <script src="assets/js/bootstrap.js"></script>
  <script src="assets/js/custom.js"></script>
<!-- endbuild -->

</body>

</html>
