{% extends 'master/index-master.njk' %}

{% block content %}

    <h2>Documentation Page</h2>
    <p>Gulpazan is a Gulp starter template to build a fast and easy workflows. It comes with jQuery, Nunjucks, Bootstrap and Sass to make it super easy for you to create a better workflow.</p>
    <h4>What's included?</h4>
    <p>What prominent npm packages Gulpazan comes with when you install it?</p>

{% endblock %}

{% block sidebar %}
    <h2>Sidebar</h2>
{% endblock %}