
{% include "partials/master-top.njk" %}

  <main class="main-container container">

    <div class="row">

      {% include "partials/header.njk" %}
      {% include "partials/content.njk" %}
      {% include "partials/sidebar.njk" %}
      {% include "partials/footer.njk" %}

    </div>

  </main><!-- .main-container -->

{% include "partials/master-bottom.njk" %}
