/* Colors */

$black: rgb(0,0,0);
$white: rgb(255,255,255);
$yellow: #FDF050;

$green: #009444;
$light-green: #39B54A;
$dark-green: #006837;


$fushia: #EC008C;
$blue: #0070AC;
$light-blue: #009AEC;

/* Fonts */

$title-font: 'Suez One', sans-serif;
$text-font: 'Roboto', sans-serif;
